# venv
venv/

# for docs
for_docs/

# Ignore Terraform directories and state
**/.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*

# json
**/*.json

# local
**/local/

# sapjils
sapjils/

# secrets
*.env